/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
	z-index: 99;
}

#closed-captions .on {
	opacity: 1;
}

#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

.voice1,
.voice4 {
	font-family: "Brenner Mono";
	font-style: Normal;
	color: white;
	font-weight: 400;
	font-size: 20px;
	text-shadow: 1px 2px 6px black;
	top: 30vw;
	left: 26vw;

}

.voice2 {
	font-family: "Brenner Sans";
	font-style: Normal;
	color: white;
	font-weight: 400;
	font-size: 22px;
	letter-spacing: 1px;
	text-shadow: 1px 2px 6px black;
	text-align: right;
	top: 32vw;
	right: 26vw;
}

.voice3 {
	font-family: "Brenner Sans Condensed";
	font-style: italic;
	color: red;
	font-weight: 650;
	font-size: 20px;
	letter-spacing: 2px;
	text-shadow: 1px 1px 4px black;
	text-align: center;
	left: 0;
	right: 0;
	margin: auto;
}


/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */
.p0 span {
	opacity: 0;
	font-family: "Brenner Mono";
}

.p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p0.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.25em;
}

.p0.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.25em;
}

.p0.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.25em;
}

.p0.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
	margin-right: -.25em;
	font-family: "Brenner Mono";
}

.p0.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.4s;
	margin-right: -.25em;
	font-family: "Brenner Mono";
}

.p0.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.7s;
	margin-right: -.25em;
	font-family: "Brenner Mono";
}

.p0.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s 2s;
	font-family: "Brenner Mono";
}

.p0.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s 3s;
	font-family: "Brenner Mono";
}

.p0.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0s 3.2s;
	font-family: "Brenner Mono";
}

.p0.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0s 3.7s;
	font-family: "Brenner Mono";
}

#repeat {
	top: 33.5vw;
	font-size: 21px;
	color: rgb(212, 212, 212);
}

#repeat2 {
	top: 35vw;
	font-size: 20px;
	color: rgb(172, 171, 171);
}


.p1.on {}

/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */

.sound0 #video-mask {
	animation: grow 1s;
}

@keyframes grow {
	25% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.5);
	}

	100% {
		transform: scale(1);
	}
}

.sound1 #video-mask {
	animation: shake 0.2s 6,
		flash 1s;
	position: relative;
}

@keyframes shake {
	25% {
		transform: rotate(2deg) translate(0, -2%);
	}

	50% {
		transform: rotate(-2deg) translate(0, 2%);
	}

	75% {
		transform: rotate(2deg) translate(0, -2%);
	}

	100% {
		transform: rotate(0deg) translate(0, 0);
	}
}


@keyframes flash {
	0% {
		box-shadow: none;
	}

	25% {
		box-shadow: 0 0 60px 30px white;
	}

	50% {
		box-shadow: none;
	}

	75% {
		box-shadow: 0 0 60px 30px white;
	}

	100% {
		box-shadow: none;
	}
}

.sound2 #video-mask {
	animation: siren 1s;
}

@keyframes siren {
	0% {
		box-shadow: 0 0 10px 10px red, 0 0 20px 20px blue;
	}

	25% {
		box-shadow: 0 0 20px 20px blue, 0 0 30px 30px red;
	}

	50% {
		box-shadow: 0 0 30px 30px red, 0 0 40px 40px blue;
	}

	75% {
		box-shadow: 0 0 20px 20px blue, 0 0 30px 30px red;
	}

	100% {
		box-shadow: 0 0 10px 10px red, 0 0 20px 20px blue;
	}
}

.sound3 #video-mask {
	animation: tril 0.2s 5, upcomingflash 1s;
	animation-delay: 0.4s;
}

@keyframes upcomingflash {
	0% {
		box-shadow: none;
	}

	20% {
		box-shadow: 0 0 20px 10px white, 0 0 40px 20px #33f, 0 0 60px 30px #66f, 0 0 80px 40px #99f;
	}

	40% {
		box-shadow: 0 0 20px 10px white, 0 0 60px 30px #33f, 0 0 80px 40px #66f, 0 0 100px 50px #99f;
	}

	60% {
		box-shadow: 0 0 20px 10px white, 0 0 80px 40px #33f, 0 0 100px 50px #66f, 0 0 120px 60px #99f;
	}

	80% {
		box-shadow: 0 0 20px 10px white, 0 0 100px 50px #33f, 0 0 120px 60px #66f, 0 0 140px 70px #99f;
	}

	100% {
		box-shadow: 0 0 20px 10px white, 0 0 120px 60px #33f, 0 0 140px 70px #66f, 0 0 160px 80px #99f;
	}
}

@keyframes tril {
	25% {
		transform: translate(0, -2%);
	}

	50% {
		transform: translate(0, 2%);
	}

	75% {
		transform: translate(0, -2%);
	}

	100% {
		transform: translate(0, 0);
	}
}

.sound4 #video-mask {
	animation: upcomingflash2 1s;
}

@keyframes upcomingflash2 {
	0% {
		box-shadow: 0 0 20px 10px white, 0 0 120px 60px #33f, 0 0 140px 70px #66f, 0 0 160px 80px #99f, 0 0 100vw 100vh #99f;
	}

	100% {
		box-shadow: 0 0 20px 10px white, 0 0 120px 60px #33f, 0 0 140px 70px #66f, 0 0 160px 80px #99f, 0 0 100vw 100vh #99f;
	}
}

.sound5 #video-mask {
	animation: tril 0.2s 5,
		upcomingflash 1s;
	animation-delay: 0.8s;
}

.sound6 #video-mask {
	animation: upcomingflash2 1s;
}

.sound7 #video-mask {
	animation: tril 0.2s 5,
		upcomingflash 1s;
}

.sound8 #video-mask {
	animation: upcomingflash2 1s;
}

.sound9 {
	width: 100%;
	height: 100vh;
	background-color: black;
	position: relative;
	top: 0;
	left: 0;
	animation: flickerAnimation 2s 20,
		flickerAnimation2 1s 36 5s,
		flickerAnimation3 0.60s 35 20s,
		flickerAnimation4 0.30s 36 30s;
}

@keyframes flickerAnimation {
	0% {
		opacity: 1;
		animation-timing-function: ease-in;
	}

	25% {
		opacity: 0;
		animation-timing-function: linear;
	}

	50% {
		opacity: 1;
		animation-timing-function: ease-out;
	}

	75% {
		opacity: 0;
		animation-timing-function: linear;
	}

	100% {
		opacity: 1;
		background-color: white;
		animation-timing-function: ease-out;
	}
}

@keyframes flickerAnimation2 {
	0% {
		opacity: 1;
		animation-timing-function: ease-in;
	}

	25% {
		opacity: 0;
		animation-timing-function: linear;
	}

	50% {
		opacity: 1;
		animation-timing-function: ease-out;
	}

	75% {
		opacity: 0;
		animation-timing-function: linear;
	}

	100% {
		opacity: 1;
		background-color: white;
		animation-timing-function: ease-out;
	}
}

@keyframes flickerAnimation3 {
	0% {
		opacity: 1;
		animation-timing-function: ease-in;
	}

	25% {
		opacity: 0;
		animation-timing-function: linear;
	}

	50% {
		opacity: 1;
		animation-timing-function: ease-out;
	}

	75% {
		opacity: 0;
		animation-timing-function: linear;
	}

	100% {
		opacity: 1;
		background-color: white;
		animation-timing-function: ease-out;
	}
}

@keyframes flickerAnimation4 {
	0% {
		opacity: 1;
		animation-timing-function: ease-in;
	}

	25% {
		opacity: 0;
		animation-timing-function: linear;
	}

	50% {
		opacity: 1;
		animation-timing-function: ease-out;
	}

	75% {
		opacity: 0;
		animation-timing-function: linear;
	}

	100% {
		opacity: 1;
		background-color: white;
		animation-timing-function: ease-out;
	}
}

.sound10 {
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(45deg, #e4b1e6, #71a5e9, rgb(255, 208, 136), rgb(228, 228, 228), #eaadf0);
	background-size: 600% 600%;
	animation: Gradient 5s ease infinite;
}

@keyframes Gradient {
	0% {
		background-position: 0% 0%
	}

	25% {
		background-position: 100% 0%
	}

	50% {
		background-position: 100% 100%
	}

	75% {
		background-position: 0% 100%
	}

	100% {
		background-position: 0% 0%
	}
}

/* **********************************************
Basic layout.
	Place the video in the center of the page.
*********************************************  */

body {
	display: grid;
	height: 100vh;
	margin: 0;
	justify-content: center;
	background-color: black;
	overflow: hidden;
}

#video-container {
	margin: auto;
}

#video-mask {
	aspect-ratio: 240.5/100;
	display: grid;
	overflow: hidden;
	align-content: center;
	transition: 1s;
}

iframe {
	width: 60vw;
	height: 40vw;
}